:root{
  --color1: #fff;
  --color3: #0f4a97;
  --color4: #0149a7;
  --color5: #649be4;
  --color6: #022b61;
  --color7: rgba(35, 89, 190, 0.76);
  --border:.2rem solid var(--color3);
  --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

@font-face {
  font-family: chapaza;
  src: url(font/Chapaza\ Italic.ttf);
}

@font-face{
  font-family: aramisi;
  src: url(font/aramisi.ttf); 
}

/****************/
/*   menu       */
/****************/

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-thumb{
  background: #002366;
}

body{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #002366;
}

.container{
  overflow: hidden;
  max-width: 1200px;
  margin: 10rem auto;

}

section{
  padding: 2rem;
}

.header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo{
  height: 50px;
  width: 50px;
}

.header .navbar a{
  font-size: 2rem;
  color: var(--color6);;
}

.header .navbar a:hover{
  color: var(--color6);
}

#menu-btn{
  font-size: 2.5rem;
  color: var(--color3);
  cursor: pointer;
  display: none;
}

.offers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.offer {
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #fff;
  height: 400px;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;
}
.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.price2{
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #002366;
}

.price span {
  font-size: 15px;
}

h3 span{
  font-size: 19px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 14px;
  margin: 10px 0;
}

.list1{
  height: 190px;
}

/***************/
/*   tarif     */
/***************/
.heading{
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--color6);
  margin-bottom: 2rem;
  font-size: 5rem;
  margin-top: 2rem;
}

.btn{
  display: inline-block;
  padding: 1rem 3rem;
  border: .2rem solid var(--color4);
  background: var(--color5);
  color: var(--color6);
  border-radius: .5rem;
  font-size: 1.7rem;
  word-break: break-word;
}

.btn:hover{
  background: var(--color5);
  color: var(--color1);
}

.formule .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 1.5rem;
}

.formule .box-container .box{
  flex: 1; /* Assure que chaque box prend une part égale */
  display: flex;
  flex-direction: column; /* Permet d'organiser les éléments en colonne */
  justify-content: space-between; /* Étend le contenu de la box pour qu'il prenne toute la hauteur disponible */
  text-align: center;
  border-radius:.5rem;
  background: white;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border: 1px solid #002366;
}


.formule .box-container .box h3{
  text-transform: uppercase;
  color: var(--color6);
  margin-bottom: 20px;
}



.logov2{
  display: block;
  margin: 45px auto;
  width: 500px;
}

.logov3{
  display: block;
  margin: 45px auto;
  width: 500px;
}

.note {
  font-style: italic;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 20px;
}


.titleup{
  font-size: 1.9rem;
}

.titleup2{
  font-size: 2.4rem;
}

/*************/
/*   Media   */
/*************/

@media (max-width:1200px){
  .container{
    margin: 5rem 10rem;
  }
}

@media (max-width:991px){

  /*faire apparaitre l'iamge de fond centrer et qu'une seule fois*/
  body{
    background:url(img/b5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  html{
    font-size: 55%;
  }
  .container{
    margin: 5rem 10rem;

  }
  /*retirer l'effet de list2 */
  
  .formule .box-container .box .btn {
    margin-top: 3rem;
  }
}

@media (max-width:768px){
  #menu-btn{
    display: inline-block;
    transition: .2s linear;
  }

  #menu-btn.fa-times{
    transform: rotate(180deg);
  }

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--color4);
    border-top: var(--border);
    padding: 2rem;
    clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    transition: .2s linear;
    
  }
  .header .navbar a{
    display: block;
    margin: 2rem;
    text-align: center;
    color: white;
  }

  .header .navbar.active{
    clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
  }

  .heading{
    font-size: 4rem;
  }

  .logov2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
  }

  .logov3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 35px auto;
  }

  h3 span{
    font-size: 16px;
  }


}

@media (max-width:500px){

  .container{
    margin: 0;
  }

}

