*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@font-face {
  font-family: chapaza;
  src: url(font/Chapaza\ Italic.ttf);
}

@font-face{
  font-family: aramisi;
  src: url(font/aramisi.ttf); 
}

:root{
  --color1: #fff;
  --color2: #0f4a97;
  --color3: #0149a7;
  --color4: #003170;
  --color5: #0f4a97;
  --color6: #0f4a97;
}

html{
  font-size: 16px;
}

/********************/
/*       Menu       */
/********************/

.navmenu{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}
/* Transition barre menu quand il y a un scroll */
.navmenu.sticky{
  padding: 15px 0;
  background-color: #fff;
  height: 80px;
}
/* Taille max menu */
.navmenu .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navmenu .menu{
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
  width: 800px;
  justify-content: space-between;
}

.navmenu .logonav img{
  width: 100px;
  height: auto;
  margin-left: 50px;
}
/* Style menu */
.navmenu .menu li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
  color: var(--color4);
  letter-spacing: 2px;
  text-align: center;
  
}
.navmenu .menu li {
  list-style-type:none;
  display: inline-block;
  justify-content: space-between;
}

/* Gestion logo "Porfolio" dans le menu */
.navmenu .logonav{
  color: rgb(240, 238, 238);
  font-size: 35px;
  font-weight: 600;
}

nav ul li.active a {
  background-color: #002049; /* Couleur de fond pour l’élément actif */
  color: white !important; /* Texte blanc pour l’élément actif */
  padding: 12px 25px; /* Plus d’espace pour le background actif */
  transform: scale(1.1); /* Agrandit légèrement le fond pour un effet espacé */
}


/********************/
/*       Home       */
/********************/
.home{

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.overlay{
  /*background-color: var(--color5);*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color1);

}


.logo{
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.toggle {
  display: none;
}

/*
.menu li a{
  color: var(--color4);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 10;
  margin: 20px;
  text-align: center;
}


.menu li:hover{
  border: #002049 2px solid;
}
*/

.text_home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_top_home img {
  width: 700px;
  height: auto; /* Garde les proportions de l'image */
  margin-bottom: 20px; /* Espacement entre l'image et le texte */
}

.text_top_home {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacement entre le séparateur et le texte */
}

.text_top_home .sep {
  width: 200px;
  height: 2px;
  background: var(--color4);
  position: relative;
}

.text_top_home .sep::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid var(--color4);
  transform: translateY(-50%);
}

.text_bottom {
  margin-top: 20px;
}

.text_top_home p {
  margin-left:  1rem;
  font-size: 25px;
  letter-spacing: 2px;
  color: var(--color4);
}

.text_mid_home h1{
  color: var(--color4);
  font-weight: 400;
  font-size: 10rem;
  line-height: 11rem;
  margin-top: 1rem;
  font-family: chapaza;
}

.text_bottom{
  color: var(--color4);
  font-size: 50px;
  font-family: chapaza;
  text-transform: uppercase;
  margin-left: 50px;
  margin: 0;
}

.text_bottom span{
  color: var(--color4);
}



/* Présentation */
.about {
  padding: 3rem 2rem;
  margin: 30px;
  height: 80vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative; /* Nécessaire pour le positionnement absolu des enfants */
}

.entete__titre {
  color: #002049;
  text-align: center;
  width: 100%;
}

.entete__titre h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  position: relative;
  font-family: chapaza;
}

.entete__titre h2::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

.texte-presentation {
  border: 2px solid #002049;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  position: absolute;
}

.texte-presentation p {
  line-height: 1.6;
  text-align: justify;
  color: #002049;
}


/*****************/
/* Conférences   */
/*****************/

.conf{
  min-height: 75vh;
  background: white;
}


.conftxt{
  margin: 150px;
}

/* php */
.event-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.event {
  border: 3px solid #0149a7;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.event h3 {
  margin: 0 0 10px 0;
  color: var(--color4);
}
.event p {
  margin: 5px 0;
  color: var(--color5);
}
.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  /*faire en sorte que le boutton sois en bas a droite de event list*/
  position: relative;
  left: 580px;
}
.btn:hover {
  background-color: #0056b3;
}
/*reduire la taille des images et les laisser cote a cote*/
.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.image-container img {
  height: auto;
  width: 140%;
}

.logo-prestation{
  display: flex;
  justify-content: center;
}

.logo-prestation img {
  width: 550px;
  height: auto;
  margin: 0 auto;
}

/*****************/
/* Prestation   */
/*****************/

.prestations{
  position: relative;
  height: 80vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo img {
  max-width: 100px;
  height: auto;
  margin: 0 auto;
}



.content-prestation {
  background: white;
  color: #002049;
  border: #001850 2px solid;
  padding: 50px;
  margin: 40px;
  width: 900px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.content-prestation ul {
  list-style-type: none;
  font-size: 1rem;
}

/********************/
/*   grande image   */
/********************/

.imgfutur img{
  width: 100%;
}

/********************/
/*      about       */
/********************/

.containerbubble {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 20px;
  box-sizing: border-box;
}

.bubble {
  background: white;
  border: 2px solid #002049;
  color: #002049;
  padding: 20px;
  font-size: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 1.5;
  position: absolute;
  max-width: 700px;
  border-radius: 20px;
}



/******************************/
/*      Contact Section       */
/******************************/

.contact{
  position: relative;
  min-height: 80vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-section {
  background: white;
  margin: 40px;
  padding: 40px;
  border: #001850 2px solid; 
  text-align: center;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.contact-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-card {
  font-size: 16px;
}

.contact-card p {
  margin: 5px 0;
}

.contact-card a {
  color: white;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

.contact-card img {
  width: 30px;
  margin-top: 10px;
}

/******************************/
/*      Footer Section        */
/******************************/
footer{
  background: white;
  padding: 15px 23px;
  color: var(--color6);
  text-align: center;
}

.github{
  text-decoration: none;
}

/* Responsive */
@media all and (max-width: 1327px) {
  .text_mid_home h1 {
      font-size: 7rem;
      line-height: 6rem;
  }
}
/* media contact */
@media all and (max-width: 1200px) {
  .entete__slogan {
    display: none;
  }

  .entete__titre {
    width: 100%;
}


}
/*special inversement */
@media (min-width: 992px) {
  .container {
      display: block;
  }
  .top {
      top: 20%;
      left: 30%;
      transform: translateX(-50%);
      position: absolute;
      font-size: 19px;
      border-radius: 20px;
  }

  .top p{
    margin: 8px;
  }

  .bottom-left {
      bottom: 10%;
      left: 5%;
      position: absolute;
      font-size: 19px;
      border-radius: 20px;
  }

  .middle-right {
      top: 60%;
      right: 0%;
      transform: translateY(-50%);
      position: absolute;
      border-radius: 20px;
  }

  .middle-right p{
    margin: 10px;
    font-size: 19px;
  }
  .entete {
    flex-direction: row;
    align-items: flex-start;
  }

}

/* Tablettes */
@media all and (max-width: 991px) {
    .navmenu .toggle {
      display: block;
      position: absolute;
      top: 2.75rem;
      right: 1rem;
      font-size: 1.75rem;
      cursor: pointer;
  }

  .ouvrir {
      display: block;
  }

  .fermer {
      display: none;
  }

  .open .ouvrir {
      display: none;
  }

  .open .fermer {
      display: block;
  }

  .logonav {
      z-index: 20;
      position: absolute;
      top: 1rem;
  }
  .menu {
    background-color: white;
    width: 100% !important;
    height: 100vh;
    top: 0!important;
    left: 0!important;
    transform: translateX(-100%)!important;
    transition: transform .5s;
    flex-direction: column;
    align-items: center;
    justify-content: space-around !important;
  }

  .menu li a {
      font-size: 1.8rem;
      color: var(--color6);
      text-align: center;
      transition: color 0.3s ease;
  }

  .open .menu {
      transform: translateX(0) !important;
  } 

  .open .logonav {
      display: none;
  } 
  .entete__titre p {
    margin-right: 0px;
    margin: 10px;
  }
  .entete__titre h2 {
    margin-right: 20px;
  }

  .content-prestation {
    width: 600px;
    padding: 30px;
    border-radius: 50px;
  }

  .containerbubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

  .bubble {
      position: static;
      width: 100%; /* Assure que chaque bulle prend toute la largeur */
      margin: 10px; /* Centre les bulles horizontalement */
      box-sizing: border-box; /* S'assure que padding/border n'affecte pas la largeur */
  }

  .navmenu.sticky{
    border-bottom: none;
  }

  .image-container img{
    max-width: 100%;
  }

  .conftxt{
    margin: 0px;
  }

}


/* Mobile */
@media all and (max-width: 767px) {
  .text_top_home {
    font-size: 0.8rem;
  }
  .text_bottom{
    font-size: 0.8rem;
  }
  .img_top_home img {
    width: 250px; /* Réduit la taille de l'image pour les petits écrans */
  }
  .text_top_home .sep {
    display: none;
  }
  .about__corps {
      flex-direction: column;
      margin-left: 17%;
      margin-left: 17%;
  }

  .about__corps__block {
      width: 100%;
      margin-bottom: 3rem;
  }
  .about__corps__block p {
    text-align: center;   
  }

  .about__corps__block img {
    height: 500px;
    width: 500px;
    border-radius: 10px;
  }

  .about__corps__block:last-child {
      margin-bottom: 1rem;
  }

  .work__corps {
      grid-template-columns: repeat(1, 1fr);
  }

  .logo img {
    max-width: 150px;
    margin: 5%;
  }
  
  
  .menu li {
    margin-bottom: 1rem;
  }
  .menu li a {
    font-size: 1.5rem;
}

  .about__corps {
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .about__corps__block {
    width: 80%;
  }

  .about__corps__block img {
    height: 200px;
    width: 200px;
  }
  
  .entete__titre h2 {
    margin-bottom: 30px;
  }
  .contact-section {
    padding: 20px;
    border-radius: 50px / 100px;
  }

  .contact-card p {
    font-size: 14px;
  }

  footer {
    font-size: 14px;
  }

  .content-prestation {
    width: 400px;
    padding: 30px;
    border-radius: 50px;
  }



}


@media all and (max-width: 700px) {
  .about__corps {
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
}

  .btn{
    position: relative;
    left: 0px;
  }

  .logo-prestation img {
    max-width: 260px;
    margin: 0 auto;
  }

}

@media all and (max-width: 625px) {
  .about__corps {
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
}
}


/* Responsive Design: Pour les très petits écrans (ex: smartphones) */
@media (max-width: 480px) {
  .text_top_home {
    gap: 15px;
    font-weight: 150px;
  }

  .img_top_home img {
    width: 200px; /* Encore plus petit pour les très petits écrans */
  }
  .navmenu .menu {
    padding: 1rem;
  }

  .navmenu .menu li a {
    font-size: 1rem;
    margin-left: 10px;
  }

  .text_top_home p {
    font-size: 0.5rem;
    margin: 0;
  }

  .text_mid_home h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .about__corps {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .about__corps__block img {
    height: 150px;
    width: 150px;
  }

  .contact-section {
    width: 350px;
    border-radius: 30px / 80px;
  }

  .contact-card p {
    font-size: 12px;
  }

  footer {
    font-size: 12px;
  }

  .container2{
    margin: 0;
  }

  .content-prestation {
    width: 350px;
    padding: 30px;
    border-radius: 50px;
  }

}